replicaCount: 3

image:
  tag: "v1.0.0"

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "128Mi"
    cpu: "200m"

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10

