apiVersion: v1
kind: Service
metadata:
  name: {{ include "azure-ai-saas.name" . }}-service
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "azure-ai-saas.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: http
  selector:
    {{- include "azure-ai-saas.selectorLabels" . | nindent 4 }}

